@import '../../../mixins.scss';
.root {
  flex-grow: 1;
}
.menuButton {
  margin-right: 10px;
}
.title {
  flex-grow: 1;
}
.userName{
  @include mobile {
    display: none;
  }
}
img {
  width: 40px;
  border-radius: 20px;
}
