@import '../../../../mixins.scss';

.root {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  max-width: 800px;
  margin: auto;
  padding: 0 40px;

  background: #ffffff94;
  padding: 15px;
  border-radius: 2px;

  @include mobile {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .input {
    width: 100%;
  }


  .inputMulti{
    width: 100%;
    margin-top: 15px;
  }

 

  button {
    float: right;
    margin: 10px;
  }
  
  .progress{
    font-size: 20px;
    background: #473ab7;
    color: white;
    padding: 5px 10px;
  }

  .oneColumn {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }

  .twoColumn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .video {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    font-size: 30px;
    margin-top: 10px;

    @include mobile {
      grid-template-columns: 1fr;
    }

    .buttons {
      display: grid;

      .note {
        font-size: 13px;
        color: #07116d;
      }

      input {
      }
    }
  }
}



