@import "../../../mixins.scss";

.root {
  .teacher {
    font-size: 23px;
    font-weight: bold;
    background: #ffa50040;
    padding: 18px 88px;
    margin-bottom: 10px;

    @include mobile {
      text-align: center;
      padding: 18px 0px;
    }

    .phone {
      font-size: 14px;
      margin-left: 10px;
    }
  }
  .container {
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin: auto;
    display: grid;

    @include mobile {
      grid-template-columns: 1fr;
    }

    .name {
      background: #07116d;
      color: white;
      padding: 5px 49px;
      margin: 10px;
      font-size: 25px;
    }

    // .center {
    //   width: 100%;
    //   @include mobile {
    //     // width: unset;
    //   }
    // }

    // .cimg1 {
    //   @include mobile {
    //     display: none;
    //   }
    //   .img1 {
    //     width: 50%;
    //     display: block;
    //     margin: auto;
    //   }
    //   .img2 {
    //     width: 30%;
    //     display: block;
    //     margin: auto;
    //   }
    // }
  }
}
