.root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  padding: 10px;

  .center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    position: fixed;
    top: 70px;
    right: 10px;
  }

  .price {
    background: #bd1eff59;
    padding: 10px;
    width: 121px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-items: center;

    .cost { 
      font-size: 22px;
    }
  }
}
