@import '../../../../mixins.scss';

.root {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  max-width: 700px;
  margin: auto;

  @include mobile {
    grid-template-columns: 1fr;
  }

  .input {
    width: 100%;
  }

  .inputMulti{
    width: 100%;
    margin-top: 15px;
  }

  .saveOrder {
    background: red !important;
    color: white !important;
  }

  .backlog {
    max-height: 350px;
    overflow: auto;
  }

  button {
    float: right;
    margin: 10px;
  }

  .oneColumn {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }

  .twoColumn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .video {
    display: grid;
    grid-template-columns: 1fr 6fr;
    place-items: center start;
    font-size: 30px;
  }
}



