.root {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  max-width: 700px;
  margin: auto;

  .input {
    width: 100%;
  }

  .saveOrder {
    background: red !important;
    color: white !important;
  }

  button {
    min-width: 100px;
  }

  .oneColumn {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .twoColumn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }


}

.backlog {
    max-width: 700px;
    margin: auto;
}

