@import '../../../mixins.scss';

.root {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  margin: auto;
  background: white;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  @include mobile {
    grid-template-columns: 4fr 1fr;
  }

  &.selected {
    background: black;
  }

  .image {
    display: grid;
    place-items: center;

    @include mobile {
      display: none;
    }
  }

  .content {
    word-break: break-word;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    place-items: center start;
    padding: 15px 0px 8px 0px;
    grid-gap: 2px;
    min-height: 50px;

    @include mobile {
      padding: 15px 0px 8px 15px;
    }

    .title1 {
      font-size: 20px;
      font-weight: bold;
    }

    .iconTitle {
      display: grid;
      place-items: center start;
      grid-template-columns: auto auto;
      grid-gap: 5px;
    }

    .note {
      font-size: 12px;
      display: grid;
      place-items: center start;
      width: 100%;
      color: #9c9b9b;
    }
  }

  .actions {
    display: grid;
    place-items: center;
    color: #9c9b9b;

    .rightTop {
      font-size: 12px;
      color: white;
      background: #473ab7;
      padding: 2px 5px;
    }
    .rightBottom {
      font-size: 12px;
    }
  }


}
