@import '../../../mixins.scss';

.root {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  margin: auto;
  background: white;
  margin: 10px;

  @include mobile {
    grid-template-columns: 4fr 1fr;
  }

  &.selected {
    background: black;
  }

  .image {
    display: grid;
    place-items: center;

    @include mobile {
      display: none;
    }
  }

  .content {
    word-break: break-word;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    place-items: center start;
    padding: 15px 0px 15px 0px;
    grid-gap: 2px;
    min-height: 50px;

    @include mobile {
      padding: 15px 0px 15px 15px;
    }

    .title1 {
      font-size: 20px;
      font-weight: bold;
    }

    .iconTitle {
      display: grid;
      place-items: center start;
      grid-template-columns: auto auto;
      grid-gap: 5px;
    }

    .note {
      font-size: 12px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      color: #9c9b9b;
    }
  }

  .actions {
    display: grid;
    place-items: center;
  }


}
