  .addRemove {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 150px;
    margin: auto;
  }

  .questions {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;


    .question {
      display: grid;
      place-items: center;
    }
  }

