.root {
  display: grid;
  grid-template-columns: 1fr;
  place-items: start;
  grid-gap: 10px;
  max-width: 400px;
  margin: auto;

  .input {
    width: 100%;
  }

  button {
    min-width: 100px;
  }

  .oneColumn {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .twoColumn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}

.center {
  margin: auto;
}
