.container {
    padding: 20px;
    max-width: 900px;
    width: calc(100% - 40px);
    margin: auto;

    .ss {
        width: 100%;
        margin: auto;
        display: block;
    }

    .link {
        text-align: center;
        margin: 5px;
        color: white; 
    }
}