@import "../../../../mixins.scss";

.root {
  max-width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;

  background: #ffffffbb;
  padding: 15px;
  border-radius: 2px;

  @include mobile {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .editor {
    display: grid;
    grid-gap: 10px;

    .twoColumn {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  .running {
    background: #6200ff;
    color: white;
    padding: 2px;
  }

  .play {
    font-size: 30px;
    margin-right: 5px;
  }

  .meetInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;

    .input2 {
      // max-width: 100px;
    }
  }
}
