@import '../../../mixins.scss';

.root {
  margin: auto;
  max-width: 900px;

   .fsButton{
      position: fixed;
      z-index: 99999;
      top: -2px;
      left: calc(50% - 55px);
      width: 110px;
      background-color: white;
      color: black;
      font-size: 8px;
      border-radius: 0px;
      padding-bottom: 0px;

      @include mobile {
      }

      &:hover{
        background-color: white;
      }
    }

  .fullScr {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
  }
  
  .topic {
    font-size: 22px;
    margin: 0px 10px;
  }

  .desc {
    font-size: 16px;
    margin: 0px 10px 10px 10px; 
  }

  .attachments {
    padding-left: 10px;
    padding-bottom: 50px;
    color: white;

    li {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 50%;

      a {
        color: white;
      }
    }
  }

  button {
    float: right;
    background: #3fb56e;
    color: #fff;
    border: none;
    padding: 4px 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
}
