.container {
    position: fixed;
    z-index: 1002;
    bottom: 0px;
    right: 0px;
    background: #FFFFFF99;
 
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    padding: 5px 0px;

    svg{
        width: 50px;
    }
}