.container {
  display: grid;
  row-gap: 15px;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  place-items: center;
  width: 100%;
}

.btnAutoPlay {
  cursor: pointer;
  border: none;
  padding: 5px 20px;
  color: white;
  margin: 10px auto;
  display: block;
  font-size: 15px;
  font-weight: bold;
}
