.root {
  margin: auto;
  max-width: 900px;

  .topic {
    font-size: 22px;
    margin: 10px;
  }

  .attachments {
    li {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 50%;
    }
  }

  button {
    float: right;
    background: #3fb56e;
    color: #fff;
    border: none;
    padding: 4px 20px;
    cursor: pointer;
  }
}
