.root {
  margin: auto;
  max-width: 900px;

  .warn {
    font-weight: bold;
    color: #ff0000a8;
    text-align: center;
  }
  
  .topic {
    font-size: 22px;
    margin: 0px 10px;
  }

  .desc {
    font-size: 16px;
    margin: 0px 10px 10px 10px; 
  }

  .attachments {
    padding-left: 10px;
    padding-bottom: 50px;
    color: white;

    li {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 50%;

      a {
        color: white;
      }
    }
  }

  button {
    float: right;
    background: #3fb56e;
    color: #fff;
    border: none;
    padding: 4px 20px;
    cursor: pointer;
  }
}
