@import './mixins.scss';

body {
  // background-image: linear-gradient(#00147f, #0078ff, #0a0a94);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../src/images/back2.jpeg');
  background-size: 100% 100%;

  .center {
    margin: auto;
  }

  .w100 {
    width: 100%;
    overflow: auto;
  }

  .right {
    float: right;
  }

  .container {
    max-width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include mobile {
      grid-template-columns: 1fr;
    }
    
  }

  // overrides
  .MuiAppBar-colorPrimary {
    color: #fff;
    background-color:#07116d;
  }

  // breadcrumb
  ol {
    a {
      color: white !important;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
