@import "../../../../mixins.scss";

.root {
  margin: auto;
  max-width: 900px;

  background: #FFFFFFCC;
  padding: 15px;
  border-radius: 2px;

  .topic {
    font-size: 22px;
    margin: 0px 10px;
  }

  .desc {
    font-size: 16px;
    margin: 0px 10px 15px 12px;
  }
}
