@import "../../../mixins.scss";

.card {
  width: 245px;
  height: 67px;
  display: grid;
  place-items: center start;
  grid-template-columns: 1fr 5fr;
  background: white;
  padding: 0px 20px;
  color: black;
  font-size: 20px;
  margin: 10px auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  .sub {
    margin-left: 5px;
  }
}
