@import "../../../mixins.scss";

.root {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  place-items: center;
  grid-gap: 30px;
  max-width: 800px;

  @include mobile {
    grid-template-columns: 1fr;
  }

  .card {
    width: 245px;
    height: 67px;
    display: grid;
    place-items: center start;
    grid-template-columns: 1fr 5fr;
    background: grey;
    padding: 0px 20px;
    color: white;

    .sub {
      margin-left: 5px;
    }
  }
}
