@import '../../mixins.scss';

.container {
  min-height: calc(100vh - 110px);
  padding: 20px;
  background: linear-gradient(0deg, #4c4c4c, transparent);

  @include mobile {
    min-height: calc(100vh - 120px);
    padding: 10px;
  }

  .loading {
    height: 400px;
    display: grid;
    place-items: center;
    font-size: 36px;
  }
}
